table{
    margin-top: 10px;
}
table, th, td{
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tfoot{
    font-family: "Roboto", sans-serif;
    font-size: 25;
}

h1.galeria{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

div.galeria{
    margin: 50px 20px 0px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 350px;
    background-color: white;
}
div.fotoCarrito{
    width: 75px;
    height: 75px;
}
div.galeria img{
    width: 350px;
    height: 200px;
}

div.pie{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

div.btnProducto{
    display:flex;
    justify-content: center;
}

.color-button2 {
    background-color: #0d9aff; /* Reemplaza este valor con el color que desees */
    color: #ffffff; /* Color del texto en el botón */
    border: none; /* Quita el borde*/
    padding: 6px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.color-button2:hover {
    background-color: #1900ff; /* Cambia el color de fondo al pasar el cursor */
}

.button-eliminar{
    background-color: #cd2816; /* Reemplaza este valor con el color que desees */
    color: #ffffff; /* Color del texto en el botón */
    border: none; /* Quita el borde*/
    padding: 6px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    justify-content: center;
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.button-eliminar:hover {
    background-color: #760f04; /* Cambia el color de fondo al pasar el cursor */
}

.button-pagar{
    background-color: #06a03f; /* Reemplaza este valor con el color que desees */
    color: #ffffff; /* Color del texto en el botón */
    border: none; /* Quita el borde*/
    padding: 6px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    justify-content: center;
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.button-pagar:hover {
    background-color: #045523; /* Cambia el color de fondo al pasar el cursor */
}