html {
    width: 100%;
    height: 100%;
}
    
body {
    background-image: url('../Imagenes/imagenes_Gui_Sucursal/fondo_sucursal.jpg');
    background-size: cover; /* Para asegurar que la imagen cubra todo el fondo */
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

 /* Estilos para el contenedor */
 .container_sucursal {
    z-index: 5;
    position: relative;
    background-color: #ffffff;
    max-width: 800px;
    margin: 150px auto 6px;
    border-radius: 4px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
 }

 .display-5 {
    color: #333; /* Cambia el color del texto */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente del texto */
    font-size: 40px; /* Cambia el tamaño de la letra */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Añade margen superior */
    margin-bottom: 10px; /* Añade margen inferior */
}

.display-4 {
    color: #333; /* Cambia el color del texto */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente del texto */
    font-size: 20px; /* Cambia el tamaño de la letra */
    text-align: center; /* Centra el texto */
    margin-top: 30px; /* Añade margen superior */
    margin-bottom: 10px; /* Añade margen inferior */
}
