/*
    Formatos de estilo de la GUI principal
*/
.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 30px;
    padding: 0.5rem;
    z-index: 60;
    /* Asegura que el navbar esté encima del carrusel */
}

.navbar-brand {
    font-weight: 500;
    color: #f27602;
    font-size: 28px;
    transition: 0.3s color;

}

.login-button {
    background-color: #ffa857;
    color: ghostwhite;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: rgb(255, 102, 0);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .bin-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: rgb(168, 168, 168);
    font-weight: 500;
    position: relative;
}

.navbar-link:hover,
.nav-link.active {
    color: rgb(54, 54, 54);
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #ffa857;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.hero-section {
    position: relative;
    background: url(ImagenPrincipal.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.footer {
    text-align: center;
    color: #000;
    background-color: #f88820;
}

.social-media {
    background-color: #fdf4cd;
    padding: 1rem 0;
}

.social-media-content {
    margin-right: 1rem;
}

.social-media-icons {
    margin-top: 0.5rem;
}

.footer-links {
    padding: 2rem 0;
}

.footer-hr {
    width: 120px;
    background-color: #000000;
    height: 4px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-link {
    color: #000;
}

.footer-link:hover {
    text-decoration: none;
    color: #000000;
}

.footer .copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
}

.about_section {
    background: #222831;
    color: #ffffff;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.about_section .img-box img {
    width: 100%;
    max-width: 445px;
    position: relative;
    z-index: 1;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f5a907;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: #e69c00;
}

h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 25px;
    /* Ajusta el tamaño del texto según lo necesites */
}

.d-item {
    height: 600px;
}

/* CARTELERA */
.section_heading {
    font-size: 55px;
    margin-top: 30px;
    color: #f27602;
}

/* Titulo de la pelicula */
.cartelera_section .card-title {
    font-size: 24px;
    font-weight: bold;
}

/* Texto de cada pelicula */
.cartelera_section .card-text {
    font-size: 16px;
}

/* Texto del boton */
.cartelera_section .card-footer .btn {
    font-size: 18px;
    padding: 10px 20px;
    color: #ffffff;
}

/* Imagenes */
.cartelera_section .card-img-top {
    width: 100%;
    height: 590px;
    object-fit: cover;
}

/* Color del boton */
.btn-primary {
    background-color: #f5a907;
    border-color: #f5a907;
}

/* Color del botón al pasar el cursor por encima */
.btn-primary:hover {
    background-color: #f27602;
    border-color: #f27602;
    color: #ffffff;
}
